@charset "utf-8";

.slider .slick-slide {
  transition: 0.6s;/*切り替え時間のspeedと同じ時間*/
}
.slider .slick-slide:not(.slick-center) {
  transform: scale(0.9);
  filter: blur(5px) opacity(0.5);/* ぼかし+半透明 */
}
.slider .slick-slide{
  margin: 0 0.5em;/* 画像と画像の間 */
}